<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Redirecting...</title>
    </head>
    <body onload="document.redirect.submit();">
        $(if chap-id)
        <noscript>
            <p>JavaScript is required</p>
        </noscript>
        $(endif)
        <form name="redirect" action="http://192.168.0.10:9110" method="post">
            <input type="hidden" name="mac" value="$(mac)">
            <input type="hidden" name="ip" value="$(ip)">
            <input type="hidden" name="username" value="$(username)">
            <input type="hidden" name="link-login" value="$(link-login)">
            <input type="hidden" name="link-orig" value="$(link-orig)">
            <input type="hidden" name="error" value="$(error)">
            <input type="hidden" name="chap-id" value="$(chap-id)">
            <input type="hidden" name="chap-challenge" value="$(chap-challenge)">
            <input type="hidden" name="link-login-only" value="$(link-login-only)">
            <input type="hidden" name="link-orig-esc" value="$(link-orig-esc)">
            <input type="hidden" name="mac-esc" value="$(mac-esc)">
            <input type="hidden" name="identity" value="$(identity)">
            <input type="hidden" name="interface-name" value="$(interface-name)">
            <input type="hidden" name="error" value="$(error)">
            <!-- <input type="submit" value="Continue"/> -->
        </form>
    </body>
</html>